@import "tailwindcss";

@layer utilities {
    .animate-in{
        animation-fill-mode: both;
    }
    .navAnimation{
        animation-name: navAnimation;
    }
    .duration-300{
        animation-duration: 500ms;
    }
}

@keyframes navAnimation {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}